.education-section {
    background: rgb(33,42,62);
    background: linear-gradient(90deg, rgba(33,42,62,1) 0%, rgb(31, 33, 61) 100%);
    margin: 0;
    color: white;
    padding: 0 0 16px;


}

.education-section h2 {
    text-align: center;
    width: 150px;
    border-bottom: 1px solid #394867;
    margin: 0 auto 32px;

    font-size: 26px;
    font-family: 'Mukta', sans-serif;
}

.education-section h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 8px 0 16px 0;
}

.education-section h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #9BA4B5;
    margin: 0 0 16px 0;
}

.education-section .education {
    width: calc(max(300px, 60vw));
    max-width: 800px;
    margin: auto;
    border-top: 1px solid rgba(57, 72, 103, 0.3);

    padding-top: 24px;
}

.education-section .education .time {
    font-family: 'Graduate', serif;
    font-size: 14px;
    color: #9BA4B5;
}

.education-section p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: center;

}

.education-section .education .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: high-quality;
}

.education-section .education .image {
    overflow: hidden;
    margin: auto;
    background-color: black;
    width: calc(min(max(300px, 60vw) - 32px, 500px));
    height: calc(min(max(300px, 60vw) * .5, 300px));
    border-radius: 4px;
    box-shadow: 0 0 2px #212A3E;
}