.computer-engineering {
    background: #e1bf1d;
    background: linear-gradient(to right, #f5c240 0%, #F2B713 57%, #D68F00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.university-of-waterloo {
    background: #5e246c;
    background: linear-gradient(to right, #552062 0%, #4c0e8c 57%, #4d16b2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.greetings-section {
    text-align: center;
    padding-top: 128px;
    margin: 0 12vw 128px;

}

.greetings-section .avatar {
    width: 140px;
    height: 140px;
    background-color: white;
    margin: 0 auto 86px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 3px #9BA4B5;

}

.greetings-section .avatar img {
    width: 150px;
    translate: -36px 32px;
}


.greetings-section h1 {
    /*color: #212A3E;*/
    background: #25374F;
    background: linear-gradient(to right, #25374F 0%, #212A3E 50%, #271633 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    letter-spacing: 2px;
    font-family: 'Mukta', sans-serif;
    padding: 0 16px;

}

.greetings-section p {
    margin: 48px 0;
    color: #212A3E;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
}

.greetings-section .buttons-list {
    display: flex;
    justify-content: center;

}

.greetings-section .buttons-list .button {
    font-size: 20px;
    color: white;
    background-color: #394867;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 8px;
    transition-duration: 100ms;
}

.greetings-section .buttons-list .button:hover {
    cursor: pointer;
    background-color: #9BA4B5;
}

@media screen and (max-width: 600px){
    .university-of-waterloo {
        display: block;
    }
}