.nav-bar {
    background: rgb(241,246,249);
    background: linear-gradient(180deg, rgba(241,246,249,.8) 0%, rgba(255,255,255,.8) 100%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    width: 100vw;
    z-index: 100;
    display: flex;
    justify-content: center;
    transition-duration: 150ms;
}

.nav-bar .option {
    font-family: Mukta, serif;
    font-weight: 800;
    font-size: 18px;
    color: #394867;

    padding: 8px 24px;
    width: 64px;
    text-align: center;
    border-bottom: 1px solid #39486711;
    margin: 8px 12px;
    transition-duration: 100ms;

}

.nav-bar .option:hover {
    color: #2f77fc;
    border-bottom: 1px solid #2f77fc;
    cursor: pointer;

}

@media screen and (max-width: 430px){
    .nav-bar .option {
        width: 60px;
        padding: 4px 8px;
    }
}