.projects-section {
    background-color: #F1F6F9;
    padding: 48px 0;
    color: #212A3E;
}

.projects-section h1 {
    text-align: center;
    margin: 0 auto 64px;
    width: 150px;
    border-bottom: 1px solid #9BA4B5;

    font-size: 30px;
    font-family: 'Mukta', sans-serif;

}
.projects-section .more {
    padding: 6px 24px;
    width: fit-content;
    height: min-content;
    border: 2px solid #212A3E;
    margin: 16px auto;
    border-radius: 32px;
    transition-duration: 100ms;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.projects-section .more:hover {
    background-color: #212A3E;
    color: white;
    cursor: pointer;
}

.projects-section .project {
    border: 1px solid red;
    width: min(80vw, 800px);
    margin: 32px auto;
    display: flex;
}

.projects-section .project .title {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.projects-section .project .description {
    font-family: "Open Sans", sans-serif;
}

.projects-section .project .image {
    width: calc(max(150px, 20vw));
    height: calc(max(80px, 10vw));
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 0 1px #9BA4B5;
    background-color: black;
    display: inline-block;
}

.projects-section .project .information {
    display: inline-block;
    vertical-align: top;
}


@media screen and (max-width: 660px) {
    .projects-section .project .image {
        width: calc(max(300px, 25vw));
        height: calc(max(150px, 15vw));
        margin: 8px auto;
        border-radius: 4px;
        box-shadow: 0 0 1px #9BA4B5;
        background-color: black;
        display: inline-block;
    }
    .projects-section .project {
        flex-direction: column;
        align-items: center;
    }

    .projects-section .project .information {
        width: calc(max(300px, 25vw));
    }

    .projects-section .project .information .title {
        font-size: 20px;
    }

}